html {
  line-height: 1.7;
}

.posts,
.tags,
nav[role=navigation] ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav[role=navigation] li {
  display: inline-block;
}

header[role=banner],
nav[role=navigation],
main[role=main],
footer[role=contentinfo] {
  margin: 0 auto;
  max-width: 37rem;
}

a[href] {
  text-decoration: none;
}

a[href]:hover {
  text-decoration: underline;
}
